html {
  font-family: "Roboto", sans-serif;
}
.subtitle {
  color: white;
}
.subtitle-grey {
  color: #405d78;
}
.navigation {
  background-color: gray;
  height: 50px;
  color: white;
}
.container {
  width: 96%;
  margin: 0 auto;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.subpage-list {
  display: flex;
  list-style: none;
}
.menu-list {
  margin-left: 50px;
}
.header-class {
  min-height: 100vh;
  background-image: url(images/mgla.jpg);
  color: white;
  background-repeat: no-repeat;
}
.header-text {
  height: 100vh;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.button-offer {
  background: rgba(254, 255, 255, 0.002);
  font-size: small;
  color: white;
  width: 164px;
  height: 40.74px;
  border-color: white;
}
.circle-w {
  aspect-ratio: 1;
  border-radius: 50%;
  background-image: url(images/kobieta.png);
  width: 10%;
  aspect-ratio: 1;
}
.circle-m {
  border-radius: 50%;
  aspect-ratio: 1;
  background-image: url(images/mezczyzna.png);
  width: 10%;
}
.flex-container {
  background-color: #405d78;
  min-height: 100%;
}
.div-oferta {
  padding: 10% 10%;
  box-sizing: border-box;
}
.footer-container {
  background-color: #4e4e4e;
  height: 71px;
  color: white;
}
@media screen and (min-width: 1024px) {
  .container {
    width: 960px;
  }
}
