html {
  font-family: "Roboto", sans-serif;
}
a {
  color: white;
}
.subtitle {
  color: white;
  background-color: #405d78;
}
.subtitle-grey {
  color: #405d78;
}
.navigation {
  background-color: gray;
  height: 50px;
  color: white;
}

.container-worker {
  width: 100%;
}
.container {
  width: 96%;
  margin: 0 auto;
  height: 100%;
}
.nav-container {
  display: flex;
  justify-content: space-between;
  height: 100%;
  align-items: center;
}
.subpage-list {
  display: none;
  justify-content: space-between;
  height: 100%;
}
.menu-list {
  margin-left: 10px;
  display: flex;
  justify-content: space-between;
}
.active {
  font-weight: bold;
  color: white;
}
.not-allowed {
  cursor: not-allowed;
  color: white;
}
.header-container {
  display: flex;
  align-items: center;
  height: 200px;
}
.header-class {
  height: 100vh;
  background-image: url(images/mgla.jpg);
  color: white;
  background-repeat: no-repeat;
}
.header-text {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
  padding: 20% 0;
}
.subtitle-margin {
  padding: 30px 0;
}
.button-offer {
  background: rgba(254, 255, 255, 0.002);
  font-size: small;
  color: white;
  width: 164px;
  height: 40.74px;
  border-color: white;
  font-family: Roboto;
}
.custom-button {
  color: #fff;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 1s, color 1s;
}
.custom-button:hover {
  background-color: #fff;
  color: #000;
}
.container-worker:nth-child(odd) {
  order: 1;
}
.container-worker:nth-child(even) {
  order: 2;
}
.circle {
  aspect-ratio: 1;
  border-radius: 50%;
  background-size: cover;
  margin: 0 auto;
  width: 221px;
}
.circle-w {
  background-image: url(images/kobieta.png);
}
.circle-m {
  background-image: url(images/mezczyzna.png);
}
.offer-container {
  background-color: #405d78;
  height: 100vh;
}
.flex-container {
  flex-wrap: wrap;
}
.service-container {
}
.container-service {
}
.boxes-offer {
  background-color: #f1f1f1;
  height: 193.78px;
  width: 198px;
  display: inline-block;
  margin: 20px;
  margin-left: 10px;
}
.descripton-offer {
  width: 100%;
  height: 100%;
}
.orange-dot {
  width: 20px;
  height: 20px;
  background-color: orange;
  border-radius: 50%;
}
.footer-container {
  background-color: #4e4e4e;
  height: 71px;
  color: white;
}
.fa-facebook {
  color: white;
  width: 31px;
  height: 31px;
}
@media screen and (min-width: 1024px) {
  .container {
    width: 960px;
  }
  .subpage-list {
    display: flex;
    list-style: none;
  }
}
